html,
body {
  height: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  background-color: #ecedeb ;
  font-family: 'Finlandica', sans-serif;

}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.password, .name{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn, .btn:hover {
  color: #fff;
  background-color: #6da2af;
}

.register-log {
  height: 100%;
  background-color: #6da2af;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  margin-bottom: 20px;
}
 
.register-log h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 !important;
  font-size: 2rem;

}
